<%= form_with(model: contract, local: true) do |form| %>
  <% if contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
        <% contract.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :description, class: "col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 col-form-label"  %>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <%= form.text_area :description, class: "form-control form-control-sm" %>
    </div>  
  </div>

  <div class="form-group row">
    <%= form.label :kind, class: "col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 col-form-label"  %>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
      <%= form.select :service_type, Contract.service_types.keys.map {|service_type| [service_type.titleize, service_type]}, {}, {required: 'true', class: 'form-control form-control-sm', disabled: false, class: "form-control form-control-sm", key: form.object.id } %>
    </div>        
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
