<h1>Contracts</h1>

<table class="table">
  <thead>
    <tr>
      <% if current_user.ninja? %>
        <th>Customer</th>
      <% end %>
      <% if current_user.customer? %>
        <th>Ninja</th>
      <% end %>
      <th>Description</th>
      <th>Service type</th>
      <th>Date accepted</th>
      <th>Date finished</th>
      <th>Rating</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <% if current_user.ninja? %>
          <td><%= contract.customer.name %></td>
        <% end %>
        <% if current_user.customer? %>
          <td><%= contract.ninja.name if contract.ninja %></td>
        <% end %>
        <td><%= contract.description %></td>
        <td><%= contract.service_type %></td>
        <td><%= contract.date_accepted %></td>
        <td><%= contract.date_finished %></td>
        <td><%= contract.rating %></td>
        <td>
          <%= link_to_show contract %>
          <%= link_to 'Accept', { action: 'accept', id: contract.id }, method: :get, class: 'btn btn-primary btn-sm',  data: { confirm: 'Are you sure?' } if contract.open? %>
          <%= link_to 'Finish', { action: 'finish', id: contract.id }, method: :get, class: 'btn btn-primary btn-sm',  data: { confirm: 'Are you sure?' } if contract.accepted? && current_user.ninja? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to_new new_contract_path %>