<p>
  <strong>Customer:</strong>
  <%= @contract.customer.name %>
</p>

<p>
  <strong>Ninja:</strong>
  <%= @contract.ninja.name if @contract.ninja %>
</p>

<p>
  <strong>Description:</strong>
  <%= @contract.description %>
</p>

<p>
  <strong>Service type:</strong>
  <%= @contract.service_type %>
</p>

<p>
  <strong>Data accept:</strong>
  <%= @contract.date_accepted %>
</p>

<p>
  <strong>Date finish:</strong>
  <%= @contract.date_finished %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @contract.rating %>
</p>

<%= link_to 'Back', contracts_path %>
